{% extends "notes/index.html" %}

{% load static %}
{% block notes %}
{% for note in notes %}

<link rel="stylesheet" type="text/css" href="{% static 'notes/css/getit.css' %}">


<li class="card" key="{id}">
  <h3 class="card-title" method="put">{title}</h3>
  <div class="card-content">
      <p class="card-content" method="put">{content}</p>
  </div>
  <form method = "post" action = "\delete">
    <input type="hidden" name="id" value="{id}" />
    <button type="submit"class="btn_change">Deletar</button>
  </form>
  <form method = "post" action = "\edit">
    <input type="hidden" name="id" value="{id}" />
    <div class="update_cl" id = "update_js">
      <input
        value="{title}"
        name="title"
        key="{id}"
      />
      <textarea
        name="content"
        value="{content}"
        key="{id}"
      > {content} </textarea>
      <button onmousedown = "change_update()" type="submit" class="btn_change">Editar</button>
    </div>
  </form>
  <script type="text/javascript" src="/templates/getit.js"></script>
</li>

{% endfor %}

{% endblock %}